     
     /*导航栏*/
.container-fluid {
    background-color: #006986;
    border-color: #e7e7e7;
}

     .nav {
     	width: 100%;
     	background-color: #006986;
     }
     .nav li a{
     	color:white;
     }

     .nav li a:hover{
     	color:#006896;
     }
     .nav ul li a{
     	color:black;
     	text-align: center;
     }
     .nav ul li a:hover{
     	color:#006896;
     }

    /*日期*/
   .cjdx{
   	float:right;
   	font-size:15px;
   }
/*友情链接字体大小*/
.line li a{
	font-size:13px;
}
.line li a:hover{

	color:black;

}

    #containder{
     	width:100%;
    	margin-left: auto;
    	margin-right:auto;
    }
    #header{
    	width:100%;
		height:306px;
		
		   }
	#head{
        background:gray url(../img/01.jpg);
		width:100%;
		height:265px;
		 }

	/*专题要闻*/
    h2{
    	margin-top: 5px;
    	display:inline;
    	padding-left:45px;
    }
	#span1{
		font-size:30px;
		font-weight:bold;
		font-family:"Microsoft Yahei";
		color:#090909;

	}
	#span2{
		font-size:20px;
		color:#007BA5;
		font-weight:bold;
	}
	.more{
	float: right;
    height: 48px;
    background: url(../img/more.jpg) no-repeat center;
    width: 70px;
    display: block;
          }
    .line{
    	border-top:0.3em solid #006986;
    	margin-top:10px;
          }
}	
    #rside{
		background:url(../img/05.jpg) no-repeat;
		background-position: 10px 0px;
		height:406px;
		
	}
    #zuo{
    	float:left; 
    	margin-top:27px;
        height:331px;
    	display:inline-block;

    }
	#zuo img{
        margin-left:5px;
		}
	#zuo p{
		text-align: center;
		}
	
	#you{
			height:320px;
			margin-top:10px;
		}
	#up{
			
			margin-left: 20px;
			margin-bottom:10px;
			
		}
		#up h6{
			clear:both;
			font-size:23px;
			margin-left: 15px;
		}
		#up p{
	
			text-indent:30px;
			font-size:18px;
		}
		#jichu{
			font-family: "Microsoft Yahei";
			font-weight: bold;
		}
		#down{clear:both;
			height:160px;
			margin-left:7px;
		}

	   #art1 li{
	    margin-left:20px;
    	margin-top: 15px;
    	font-size:20px;
    	padding-left: 10px;
    	background:url(../img/10.jpg) no-repeat;
	      }
    #art1 a:hover{
    	color:black;}		
    /*通知公告*/

   #lside{
       background: url(../img/04.jpg) no-repeat;
       background-position:10px 0px; 
      }  
   /*学习资料*/
	#m1{
		background:url(../img/07.jpg) no-repeat;
        background-position: 10px 0px;
		height:325px;
	}
    /*教育改革*/
	#m2{
		background:url(../img/08.jpg) no-repeat;
		background-position: 10px 0px;
		height:325px;
	}
    /*友情链接*/

	.line1 li{
		margin-top:5px;
		float:left;
	}
	#zhan{
		font-size:32px;
		color:#027CA4;
		font-weight:bold;
		}
	#m3{
		height:325px;
	} 


	

		#art1{
			margin-top:10px;
		}


/*列表内容*/
    #art{
    	width:90%;
    	height:320px;
    	margin-left: 40px;
		float:left;
	}
    #art li{height:29px;
    	text-align: 29px;
    	margin-top: 15px;
    	font-size:20px;
    	padding-left: 10px;
    	background:url(../img/10.jpg) no-repeat;
	}
    #art a:hover{
    	color:black;
    }

/*尾部*/
	#footer{
		margin-left: auto;
		margin-right: auto;
		clear:both;
		width:1480px;
		height:120px;
		background:#0484A9;

	}
	.wei{   
    float: none;
    text-align: center;
    padding: 10px 0 10px 0;
    color:white;
	}



	

	